*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/*-------------------My Css---------------------------*/
html,
body {
  height: 100%;
}
.dashboard {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
  background-color: pink;
}
/*------------------Sidebar Css---------------------------*/
.sidebar {
  grid-row: span 3;
  background-color: blue;
  display: grid;
  grid-template-rows: 1fr 1fr 9fr;
  gap: calc(2vw + 10px);
}
.sidebar-top {
  display: flex;
  justify-content: start;
  padding: max(10px, 1%);
  align-items: end;
  font-size: calc(0.5rem + 1vw);
}
.sidebar-top > div {
  width: 5vw;
  height: 5vw;
  max-width: 4rem;
  max-height: 4rem;
  object-fit: contain;
}
.sidebar-features,
.sidebar-help {
  font-size: calc(0.5rem + 1vw);
  font-weight: 800;
}
.sidebar-features div,
.sidebar-help div {
  padding: 0 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.sidebar-features div > img,
.sidebar-help div > img {
  width: 2vw;
  height: 2vw;
}
/*-----------------------------------------------------------------*/
.top-bar {
  grid-column: 2/4;
  background-color: grey;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.first-bar {
  padding: 5px;
  display: flex;
  gap: 3vw;
  justify-content: space-around;
  color: white;
}
.first-bar input {
  border-radius: 15px;
  flex: 1;
  width: 100%;
  height: auto;
  font-size: calc(0.5rem + 0.5vw);
  max-height: 3vw;
}
.search,
.avatar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px calc(5px + 2vw);
  gap: 2vw;
}
.avatar > img + img {
  width: 2.5vw;
  height: 2.5vw;
}
.avatar > h2 {
  font-size: calc(0.5rem + 0.8vw);
}
.avatar > img,
.search > img {
  width: 1.5vw;
  height: 1.5vw;
}
.search {
  flex: 1;
}
.second-bar {
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
}
.second-bar > div {
  padding: 0 3%;
  display: flex;
  gap: 1vw;
  align-items: center;
  text-wrap: nowrap;
}
.second-bar > div > img {
  width: max(5vw, 50%);
  height: max(4vw, 40px);
}
.second-bar > div > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
}
.second-bar > div > p {
  font-size: calc(0.5rem + 0.5vw);
}
.second-bar p + p {
  font-size: calc(1rem + 0.5vw);
  font-weight: 800;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.navbar button {
  border-radius: 8px;
  width: max(50px, 5vw);
  height: max(20px, 2vw);
}
.row2 {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 1%;
  font-weight: 900;
  font-size: calc(1rem + 0.5vw);
  justify-content: space-between;
  background-color: orange;
}
.row2 > div + div {
  flex-basis: 25%;
}
.extra {
  padding: 5%;
  grid-row: 3/4;
  gap: 5%;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 45% 1fr;
  background-color: red;
}
.projects {
  padding: 1%;
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: yellow;
  display: grid;
  grid-template-rows: auto;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2%;
}
.projects-grid > div {
  outline: 2px solid red;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 9fr;
}
.projects-grid > div > p {
  font-weight: 800;
}
.glyphs {
  display: flex;
  justify-content: flex-end;
  gap: 3%;
}
.glyphs > img {
  height: 1.2vw;
  width: 1.2vw;
  cursor: pointer;
}
.trending {
  gap: 2%;
  outline: 2px solid white;
  display: grid;
  grid-row: auto 1fr;
}
.trending > p {
  font-size: calc(1rem + 0.5vw);
  font-weight: 900;
}
.people {
  display: flex;
  gap: 10%;
}
.people img {
  width: 4vw;
  height: 4vw;
}
