*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/*-------------------My Css---------------------------*/
html,
body {
  height: 100%;
}
.dashboard {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
  background-color: pink;
}
/*------------------Sidebar Css---------------------------*/
.sidebar {
  grid-row: span 2;
  background-color: blue;
  display: grid;
  grid-template-rows: 1fr 1fr 9fr;
  gap: calc(2vw + 10px);
}
.sidebar-top {
  display: flex;
  justify-content: start;
  padding: max(10px, 1%);
  align-items: end;
  font-size: calc(0.5rem + 1vw);
}
.sidebar-top > div {
  width: 5vw;
  height: 5vw;
  max-width: 4rem;
  max-height: 4rem;
  object-fit: contain;
}
.sidebar-features,
.sidebar-help {
  font-size: calc(0.5rem + 1vw);
  font-weight: 800;
}
.sidebar-features div,
.sidebar-help div {
  padding: 0 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.sidebar-features div > img,
.sidebar-help div > img {
  width: 2vw;
  height: 2vw;
}
/*-----------------------------------------------------------------*/
.top-bar {
  grid-column: 2/4;
  background-color: grey;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.first-bar {
  padding: 5px;
  /*background-color: black;*/
  display: flex;
  gap: 3vw;
  justify-content: space-between;
  color: white;
}
.first-bar input {
  border-radius: 15px;
  width: 100%;
}
.search,
.avatar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px calc(5px + 2vw);
  gap: 2vw;
}
.search {
  flex: 1;
}
.second-bar {
  /*background-color: purple;*/
  display: flex;
  justify-content: space-between;
}
.profile {
  min-width: 30%;
  gap: 5%;
  display: flex;
  justify-content: flex-end;
}
.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.flexcol p:last-child {
  white-space: nowrap;
  font-weight: 800;
  font-size: 1.8rem;
}
nav {
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav > button {
  cursor: pointer;
  border-radius: 10px;
  padding: 1% 5%;
}
.extra {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: red;
}
.article {
  background-color: yellow;
}
