*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/*-------------------My Css---------------------------*/
html,
body {
  height: 100%;
}
.dashboard {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
  background-color: pink;
}
/*------------------Sidebar Css---------------------------*/
.sidebar {
  grid-row: span 2;
  background-color: blue;
  display: grid;
  grid-template-rows: 1fr 1fr 9fr;
  gap: calc(2vw + 10px);
}
.sidebar-top {
  display: flex;
  justify-content: start;
  padding: max(10px, 1%);
  align-items: end;
  font-size: calc(0.5rem + 1vw);
}
.sidebar-top > div {
  width: 5vw;
  height: 5vw;
  max-width: 4rem;
  max-height: 4rem;
  object-fit: contain;
}
.sidebar-features,
.sidebar-help {
  font-size: calc(0.5rem + 1vw);
  font-weight: 800;
}
.sidebar-features div,
.sidebar-help div {
  padding: 0 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.sidebar-features div > img,
.sidebar-help div > img {
  width: 2vw;
  height: 2vw;
}
/*-----------------------------------------------------------------*/
.top-bar {
  grid-column: 2/4;
  background-color: grey;
}
.extra {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: red;
}
.article {
  background-color: yellow;
}
